<cript type="text/javascript" src="https://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP" />
<p>
Hello World!
</p>
<div class='artist-select row'>
        <div class='artistContainer col-md-6'>
<button id="load-artists" {{action "getArtists" 'openModal' 'modal'}}>
    Load Artists
  </button>
        </div>
<div class="col-md-6">
<button id="load-albums" {{action "getAlbums" 'openModal' 'modal'}}>
    Load Albums
  </button>
</div>
</div>
<button {{action 'openModal' 'modal'}}>Change Name</button>
{{outlet}}
{{outlet  'modal'}}
